.contenedor-pop-up {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.pop-up-content {
    background-color: gray;
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0);
}